#car-details {
  .container {
    display: flex;
    align-items: flex-start;
    // justify-content: space-between;
    gap: 24px;

    flex-wrap: wrap;
    justify-content: center;
    @media screen and (max-width: 1350px) {
    }

    .thumbnails-container {
      width: 792px;

      @media screen and (max-width: 992px) {
        width: 100% !important;
      }
      .image-gallery-slide-wrapper {
        /* max-width: 792px; */
        // height: 480px;
        @media screen and (max-width: 992px) {
          width: 100% !important;
          // min-height: 480px !important;
        }

        .image-gallery-left-nav,
        .image-gallery-right-nav {
          display: none;
        }

        .image-gallery-bullets-container {
          .image-gallery-bullet {
            border: 1px solid var(--main-color) !important;
            box-shadow: 0 0 0 0 !important;

            &:hover {
              background-color: var(--main-color);
            }
          }
          .image-gallery-bullet.active {
            background-color: var(--main-color);
          }
        }

        .image-gallery-right-nav {
          right: 4px;
          max-width: 790px !important;
        }
        .image-gallery-left-nav {
          left: 4px;
        }
        .image-gallery-left-nav,
        .image-gallery-right-nav {
          background-color: transparent;
          position: absolute;
          top: 50%;
          border: none;
          z-index: 999;

          svg {
            path {
              fill: #fefefe;
              width: 40px;
              height: 40px;
              background-color: rgba(112, 76, 37, 0.2);
              backdrop-filter: blur(15px);
              border-radius: 50%;
            }
          }
        }

        .image-gallery-thumbnails-wrapper.thumbnails-swipe-horizontal {
          margin-bottom: 32px !important;
        }
      }
      .image-gallery-play-button,
      .image-gallery-fullscreen-button {
        bottom: 0px;
        filter: none !important;

        svg {
          color: var(--main-color);
        }
      }

      .image-gallery-thumbnail + .image-gallery-thumbnail {
        border-radius: 5px;
      }
      .image-gallery-thumbnail {
        &:hover {
          border-color: var(--main-color) !important;
        }
      }
      .image-gallery-thumbnail.active,
      .image-gallery-thumbnail:focus {
        border: 4px solid var(--main-color);
      }
      .image-gallery-content .image-gallery-slide .image-gallery-image {
        border-radius: 5px;
      }
    }

    .car-info {
      @media screen and (max-width: 1350px) {
        width: 100%;
      }
      .car-model {
        width: 384px;
        left: 754px;
        top: 864px;
        background: rgba(112, 76, 37, 0.2);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        padding: 40px;
        border-radius: 5px;

        @media screen and (max-width: 1350px) {
          width: 100% !important;
        }

        .car-model-inner {
          .brand,
          .year,
          .acceleration,
          .price {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h3,
            span {
              font-family: var(--main-font);
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 22px;
              letter-spacing: -0.0278em;
              margin-bottom: 4px;
              color: #ffffff;
            }
          }

          .price {
            margin-top: 38px;
          }

          .model {
            h3 {
              font-weight: 700;
              color: #ffffff;
              margin-bottom: 24px;
            }
          }
        }
      }

      .engine-container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 33px;

        @media screen and (max-width: 1350px) {
          justify-content: space-around !important;
        }

        .icons-container {
          background: rgba(112, 76, 37, 0.2);
          -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
          border-radius: 5px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          width: 70px;
          height: 265px;

          padding-top: 40px;
          padding-bottom: 36px;

          svg {
            width: 35px;
            height: 35px;
            color: #fefefe;
          }
          img {
            margin-top: 50px;
            width: 40px;
            height: 40px;
          }

          .gas {
            margin-top: 46px;
            color: #fefefe;
          }
        }

        .engine-info {
          .inner {
            width: 282px;
            height: 265px;
            left: 1038px;
            top: 509px;
            background: rgba(112, 76, 37, 0.2);
            backdrop-filter: blur(15px);
            border-radius: 5px;
            padding-top: 30px;
            padding-bottom: 31px;
            padding-left: 37px;

            @media screen and (max-width: 450px) {
              width: 190px !important;
            }

            .info {
              margin-bottom: 48px;
              h3,
              span {
                font-family: var(--main-font);
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 29px;
                letter-spacing: -0.0278em;
                color: #fefefe;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

#contact-us {
  .container {
    .title-container {
      margin-bottom: 80px;
      h4 {
        font-family: var(--main-font);
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 49px;
        letter-spacing: 0.0022em;
        color: #fefefe;

        @media screen and (max-width: 992px) {
          text-align: center;
        }

        @media screen and (max-width: 450px) {
          font-size: 30px;
        }
      }
    }
    .reg {
      display: flex;
      align-items: flex-end;
      justify-content: space-around;

      @media screen and (max-width: 1200px) {
        justify-content: space-between;
      }

      @media screen and (max-width: 992px) {
        flex-direction: column;
        align-items: center;
      }
      .call-btn {
        background: rgba(112, 76, 37, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 5px;
        padding: 40px;

        p,
        h4 {
          text-align: center;
          font-family: var(--main-font);
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 135%;
          color: #fefefe;
        }

        p {
          font-weight: 400;
          font-size: 20px;
          margin-bottom: 32px;
        }

        button {
          background-color: transparent;
          border: 2px solid #b57f4f;
          border-radius: 5px;
          padding: 14px 60px;
          @media screen and (max-width: 450px) {
            width: 100%;
            height: 60px;
            padding: 0 !important;
          }

          a {
            color: var(--main-color);
            text-decoration: none;
            svg {
              margin-right: 13px;
            }
          }
        }

        @media screen and (max-width: 992px) {
          margin-bottom: 40px;
        }
      }

      .client-email {
        background: rgba(112, 76, 37, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 5px;
        padding: 40px;
        .title {
          p,
          h4 {
            text-align: center;
            font-family: var(--main-font);
            color: #fefefe;
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 135%;
          }

          p {
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 32px;
          }
        }

        form {
          input {
            background-color: #f8f8f8;
            border: 2px solid var(--main-color);
            border-radius: 5px;
            height: 52px;
            padding-left: 16px;
            width: 260px;
            color: var(--main-color);

            &::placeholder {
              color: black;
              font-size: 18px;
            }
            &:focus {
              outline: none;
            }
          }
          button {
            margin-left: 30px;
            width: 126px;
            height: 52px;
            border: 2px solid #b57f4f;
            border-radius: 5px;
            background-color: transparent;
            font-family: var(--main-color);
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            color: #b57f4f;
          }
        }
      }
    }
  }
}
